<app-menu-title></app-menu-title>

<main>

    <app-big-card
    id="1"
    photoCover="https://cdn.pixabay.com/photo/2015/09/05/23/25/business-926221_960_720.jpg"
    cardTitle="Desvendando o Angular: Guia Completo para Iniciantes"
    cardDescription="Aprenda os fundamentos do framework, desde a criação de componentes até o gerenciamento de estados, e construa interfaces incríveis!"
    ></app-big-card>

    <div class="container__small-cards">
        <app-small-card
        id="2"
        photoCover="https://cdn.pixabay.com/photo/2015/05/28/14/53/ux-788002_960_720.jpg"
        title="CSS Moderno: Dicas e Truques para Estilos Impactantes"></app-small-card>
        <app-small-card
        id="3"
        photoCover="https://cdn.pixabay.com/photo/2017/10/10/21/47/laptop-2838921_960_720.jpg"
        title="Node.js para Back-end: Construindo APIs Poderosas"></app-small-card>
        <app-small-card
        id="4"
        photoCover="https://cdn.pixabay.com/photo/2017/10/01/14/56/communication-2805785_960_720.jpg"
        title="Machine Learning para Iniciantes: Construindo Modelos Inteligentes"></app-small-card>
    </div>

</main>
